# Binary files
netcoco-*

# Config file
config.yaml
dev_config.yaml
Dockerfile.dev
test_manifest.yaml

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
