[Unit]
Description=NetCoCo - Network Automation Application
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/usr/share/netcoco
ExecStart=/usr/share/netcoco/netcoco-linux-amd64 -file=./config.yaml

[Install]
WantedBy=multi-user.target