[Unit]
Description=NetCoCo - Network Automation Application
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/usr/share/netcoco
ExecStartPre=sysctl -w net.ipv4.ping_group_range="0 2147483647"
ExecStart=/usr/share/netcoco/netcoco-linux-amd64

[Install]
WantedBy=multi-user.target