<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <title>{{ .title }}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/signin.css" />
    <link rel="stylesheet" href="/css/offcanvas.css" />
    <meta name="theme-color" content="#7952b3">
    <script src="/js/main.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

</head>

<body class="text-center">



    <div class="toast position-absolute top-1 end-0" style="margin-right:10px;z-index: 5" role="alert"
        aria-live="assertive" aria-atomic="true">
        <div class="toast-header text-white">
            <strong class="me-auto">head</strong>
        </div>
        <div class="toast-body ">
            body
        </div>
    </div>

    <main class="form-signin">
        <form>
            <h1 class="h1 mb-3 font-weight-normal">NetCoCo Administrator Initialized</h1>

            <div class="form-floating">
                <input type="text" class="form-control" id="username" placeholder="Username">
                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="password" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="repassword" placeholder="Password-Agian">
                <label for="floatingPassword">Password-Agian</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="button" onclick="create()">Create Account</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2021 &copy; Chatdanai Phakaket.</p>
        </form>
    </main>
</body>
<script src="/js/axios.js"></script>
<script>
    $(document).on('keypress', (e) => {
        if (e.which == 13) {
            create()
        }
    });

    async function create() {
        var username = $("#username").val();
        var password = $("#password").val();
        var repassword = $("#repassword").val();
        if (password != repassword) {
            $('.toast-header').removeClass('bg-success');
            $('.toast-header').addClass('bg-danger');
            $('.toast-header').text('Error');
            $('.toast-body').text('Password not match!!!');
            $('.toast').toast('show');
        } else {
            try {
                const response = await axios.post(`${BASE_API_URL}/administrator/create`,
                    {

                        "username": username,
                        "password": password,

                    },
                    {
                        auth: {

                            "username": "{{.APIKeyTemporary.Username}}",
                            "password": "{{.APIKeyTemporary.APISecret}}",
                        }
                    }
                );

                $('.toast-header').removeClass('bg-danger');
                $('.toast-header').addClass('bg-success');
                $('.toast-header').text('Success');
                $('.toast-body').text('Create administrator account success');
                $('.toast').toast('show');

            } catch (error) {
                $('.toast-header').removeClass('bg-success');
                $('.toast-header').addClass('bg-danger');
                $('.toast-header').text('Error');
                $('.toast-body').text('Request error!!!');
                $('.toast').toast('show');
            }
        }

    }
</script>

</html>