<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <title>{{ .title }}</title>
    <link rel="stylesheet" href="/css/semantic.min.css" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/axios.js"></script>
</head>
<style type="text/css">
    body {
        background-color: #DADADA;
    }

    body>.grid {
        height: 100%;
    }

    .column {
        max-width: 450px;
    }
</style>
</head>

<body>
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui blue image header">
                <div class="content">
                    Create an administrator account
                </div>
            </h2>
            <form class="ui large form">
                <div class="ui stacked segment">
                    <div class="field">
                        <label>Username</label>
                        <div class="ui input">
                            <input type="text" name="username" id="username" placeholder="Username">
                        </div>
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <div class="ui input">
                            <input type="password" name="password" id="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="field">
                        <label>Password-Again</label>
                        <div class="ui input">
                            <input type="password" name="again_password" id="again_password"
                                placeholder="Password-Again">
                        </div>
                    </div>

                    <button class="ui large blue submit button" type="button" onclick="verify()">Verify</button>
                    <button class="ui large green submit button disabled" type="submit" id="createBtn">Create</button>
                </div>
            </form>

            <div class="ui message">
                2021 &copy; Chatdanai Phakaket.
            </div>

            <div class="ui success message transition hidden" id="regis_success">
                <div class="header">
                    Your user registration was successful.
                </div>
                <p>You may now log-in with the username you have chosen<br> <a href="/ui/login"> Go to login page </a>
                </p>
            </div>

            <div class="ui warning message transition hidden" id="warn"></div>

            <div class="ui error message transition hidden" id="regis_failed">
                <div class="header">
                    Your user registration was failed!!.
                </div>
            </div>

        </div>
    </div>
    <script>
        var pass = false;
        function verify() {
            var username = $("#username").val();
            var passwd = $("#password").val();
            var passwd_again = $("#again_password").val();
            var createBtn = $("#createBtn");
            if (!createBtn.hasClass("disabled"))
                createBtn.addClass("disabled")

            if (!$("#warn").hasClass("warning"))
                $("#warn").addClass("warning")
            if ($("#warn").hasClass("success"))
                $("#warn").removeClass("success")

            pass = false;

            if (username == "") {
                if ($("#warn").hasClass("hidden"))
                    $("#warn").removeClass("hidden")

                $("#warn").text("Please enter your username")
            }
            else if (passwd == "") {
                if ($("#warn").hasClass("hidden"))
                    $("#warn").removeClass("hidden")

                $("#warn").text("Please enter your password")
            }
            else if (passwd_again == "") {
                if ($("#warn").hasClass("hidden"))
                    $("#warn").removeClass("hidden")

                $("#warn").text("Please enter your password again")
            }
            else if (passwd != passwd_again) {
                if ($("#warn").hasClass("hidden"))
                    $("#warn").removeClass("hidden")

                $("#warn").text("Password not match!")
            }
            else {
                if ($("#warn").hasClass("hidden"))
                    $("#warn").removeClass("hidden")
                if ($("#warn").hasClass("warning"))
                    $("#warn").removeClass("warning")
                if (!$("#warn").hasClass("success"))
                    $("#warn").addClass("success")

                $("#warn").text("Information is correct")
                createBtn.removeClass("disabled")
                pass = true;
            }

        }

        $("form").submit(function (event) {

            if (pass) {

                var username = $("#username").val();
                var passwd = $("#password").val();

                axios.post(`/api/administrator/create`,
                    {

                        "username": username,
                        "password": passwd,

                    },
                    {
                        auth: {

                            "username": "{{.APIKeyTemporary.Username}}",
                            "password": "{{.APIKeyTemporary.APISecret}}",
                        }
                    }
                ).then(() => {
                    if (!$('#regis_failed').hasClass("hidden"))
                        $('#regis_failed').addClass("hidden")

                    if (!$('#warn').hasClass("hidden"))
                        $('#warn').addClass("hidden")

                    $('#regis_success').removeClass("hidden")
                }).catch(() => {
                    if (!$('#regis_success').hasClass("hidden"))
                        $('#regis_success').addClass("hidden")
                    if (!$('#warn').hasClass("hidden"))
                        $('#warn').addClass("hidden")

                    $('#regis_failed').removeClass("hidden")
                })

            } else {
                if ($("#warn").hasClass("hidden"))
                    $("#warn").removeClass("hidden")

                $("#warn").text("Please enter your information")
            }

            event.preventDefault();

        });
    </script>

</body>

</html>