name: build-netcoco-image
on:
  release:
    types: [published]
    paths:
      - 'images/**'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: check out
        uses: actions/checkout@v2
      - name: setup go
        uses: actions/setup-go@v2
        with:
          go-version: '^1.16.3'
      - name: build netcoco
        shell: bash
        env: 
          VERSION: ${{ env.RELEASE_VERSION }}
        run: |
          cd images
          docker build --build-arg version=$VERSION -t mrzack/netcoco:$VERSION .
      - name: security scan
        shell: bash
        env: 
          VERSION: ${{ env.RELEASE_VERSION }}
        run: |
          cd images

          wget https://github.com/anchore/grype/releases/download/v0.6.1/grype_0.6.1_linux_amd64.deb
          sudo apt install -y ./grype_0.6.1_linux_amd64.deb

          grype -f negligible mrzack/netcoco:$VERSION
      - name: push
        shell: bash
        env: 
          VERSION: ${{ env.RELEASE_VERSION }}
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: |
          cd images

          docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD

          docker push mrzack/netcoco:$VERSION

          docker logout