name: build-netcoco-image
on:
  push:
    tags:
      - "v*"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: check out
        uses: actions/checkout@v2
      - name: build netcoco
        shell: bash
        run: |
          cd images
          TAG=$(cat VERSION)
          regex="^v[0-9].[0-9].[0-9]+$"
          docker build --build-arg COCO_VERSION=$TAG -t quay.io/netcoco-io/netcoco:$TAG .

          if [[ $TAG =~ $regex ]]; then
              docker tag quay.io/netcoco-io/netcoco:$TAG quay.io/netcoco-io/netcoco:latest .
          fi
          
      - name: security scan
        shell: bash
        run: |
          cd images
          TAG=$(cat VERSION)

          wget https://github.com/anchore/grype/releases/download/v0.6.1/grype_0.6.1_linux_amd64.deb
          sudo apt install -y ./grype_0.6.1_linux_amd64.deb

          grype -f negligible quay.io/netcoco-io/netcoco:$TAG
      - name: login to quay.io registry
        shell: bash
        env: 
          QUAY_USERNAME: ${{ secrets.QUAY_USERNAME }}
          QUAY_PASSWORD: ${{ secrets.QUAY_PASSWORD }}
        run: docker login quay.io -u $QUAY_USERNAME -p $QUAY_PASSWORD
      - name: push
        shell: bash
        run: |
          cd images
          TAG=$(cat VERSION)
          docker push quay.io/netcoco-io/netcoco:$TAG

          regex="^v[0-9].[0-9].[0-9]+$"
          if [[ $TAG =~ $regex ]]; then
              docker push quay.io/netcoco-io/netcoco:latest .
          fi

          docker logout quay.io